<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0;'>
    <title>𝓜𝓮𝓵𝓸𝓭𝓲𝓯𝔂</title>
    {% load static %}
    <link rel='stylesheet' href='{% static "styles/semantic.min.css" %}'>
    <link rel='stylesheet' href='{% static "styles/main.css" %}'>
    <link rel='stylesheet' href='{% static "styles/animation.css" %}'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body id="soundcloud-player">

<div class="row" style="height: 750px;">
    <div class="col-md-3" style="background-color: #292929;">
        <h1 style="color: aqua;">𝓜𝔂 𝓟𝓵𝓪𝔂𝓵𝓲𝓼𝓽</h1>
        <div class="js-playlist">

        </div>
    </div>
    <div class="col-md-9">
        <div class="main">
            <div class="row">
                <div class="col-md-8">
                    <h1 style="color: aqua;">𝓜𝓮𝓵𝓸𝓭𝓲𝓯𝔂...</h1>
                    <p>Listen to your favoruite songs for free now!</p>
                    <p>Create your own favourite playlist and enjoy listening.</p>
                    <br>
                </div>
                <div class="col-md-4">
                    <div class="now playing" id="music">
                        <span class="bar n1">A</span>
                        <span class="bar n2">B</span>
                        <span class="bar n3">c</span>
                        <span class="bar n4">D</span>
                        <span class="bar n5">E</span>
                        <span class="bar n6">F</span>
                        <span class="bar n7">G</span>
                        <span class="bar n8">H</span>
                        <span class="bar n1">A</span>
                        <span class="bar n2">B</span>
                        <span class="bar n3">c</span>
                        <span class="bar n4">D</span>
                    </div>
                </div>
            </div>
            <div class="ui massive icon input">
                <input type="text" placeholder="Search for a song or artist..." class="js-search input-search">
                <i class="search icon js-submit"></i>
            </div>

            <div class="search-results js-search-results ui cards">
                
                <!-- BEGIN CARD -->
                
                <!-- END CARD -->
        
            </div>
        </div>
    </div>
</div>

{% load static %}
<script src="https://connect.soundcloud.com/sdk/sdk-3.3.2.js"></script>
<script src='{% static "javascript/semantic.min.js" %}'></script>
<script src="{% static 'javascript/main.js' %}"></script>
</body>
</html>
